<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
	ul,li,ol{
		list-style :none;
	}
  </style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<ul>
		<li>
			<a href="./moveSocketIoClient" target = "_blank">跳转到socketIo实现的拖拽</a>
		</li>
		<li>
			<a href="./moveSocketIoClient" target = "_blank">跳转到socketIo实现的聊天框</a>
		</li>
		<li>
			<a href="./moveSocketIoClient" target = "_blank">跳转到WSsocketIo实现的聊天框</a>
		</li>
	</ul>
  </body>
</html>
