<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ss, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>移动方块的socketIo技术</title>
    <link rel="stylesheet" href="/stylesheets/moveSocketIoClient.css">
    <script src="/js/jQuery.js"></script>
    <script src="/js/long.min.js"></script>
    <script src="/js/bytebuffer.min.js"></script>
    <script src="/js/protobuf.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/moveSocketIoClient.js"></script>
</head>

<body>
    <div id='d1' class="moveBox box1" style="left : 100px;top :100px;"></div>
    <div id='d2' class="moveBox box2" style="left : 200px;top :200px;"></div>
    <div id='d3' class="moveBox box3" style="left : 300px;top :300px;"></div>
</body>

</html>